@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-bg-color: rgb(233, 237, 242);
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../miniProject/Cars/car10.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a{
    text-decoration: none;
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
    
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .1s ease ,height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}


.wrapper.active {
    height: 400px;



}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
   transition: transform .18s ease;
   transform: translateX(0);

}

.wrapper.active .form-box.login{
    
    transition: none;
    transform: translateX(-400px);


}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translate(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
 
 }

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #111f2b;
    font-size: 2em;
    color: #fff; /* icon color------------------ */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px ;
   /* border-top-right-radius: 20px;*/
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: var(--main-bg-color); /* h2 color----------------- */
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0 ;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--main-bg-color); /* lable color------------------- */
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: darkslategray;  /* ----Text Color */
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--main-bg-color); /* icon color------------------ */
    line-height: 57px; 
}

/*.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    
}
*/
.btn {
width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    
    padding: .1em 2em;
 background: none;
 border: 2px solid #162938;
 font-size: 15px;
 color: white; /* Text */
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: color: var(--main-bg-color); /*F color----------------- */
 font-weight: 500;
 box-shadow: 0 2px 0 2px #000;
}

.btn:before {
 content: "";
 position: absolute;
 width: 270px;
 height: 100%;
 background-color:  darkgrey; /* S color */
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}

.btn:hover {
 background-color: rgba(255,255,255, .5); /* L color-------- */
 color: black;
 box-shadow: 0 2px 0 2px #0e0042;
}

.btn:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}

.btn:active {
 transform: scale(0.9);
}
.login-register{
    color: var(--main-bg-color);
    text-align: center;
    font-size:  1em;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: rgb(22, 94, 165);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
